$panel-background-color: #EFEFEF;
$panel-border-color: #D8D7D7;
$panel-shadow-color: #B0B0B0;
$panel-grey-text: #6F6F6F;
$accent-color: #7ED321;

@mixin user-select-off () {
	user-select: none;
}

@mixin user-select-on () {
	user-select: auto;
}
