$font-color-dark: black;
$font-color-light: white;
$panel-background-color: #EFEFEF;
$panel-border-color: #D8D7D7;
$panel-shadow-color: #B0B0B0;
$panel-grey-text: #6F6F6F;
$accent-color: #7ED321;
$faded-color: #9B9B9B;
$blue-color: #0683FF;

@mixin user-select-off () {
	user-select: none;
}

@mixin user-select-on () {
	user-select: auto;
}

@mixin scroll-vertical () {
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
}

@mixin scroll-horizontal () {
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
}
