$accent-color: #7ED321;
$faded-color: #9B9B9B;
$blue-color: #0683FF;
$red-color: #d6411e;
$font-color-dark: black;
$font-color-light: white;
$background-color: #F8F8F8;
$panel-background-color: #EFEFEF;
$panel-background-color-white: #FFFFFF;
$panel-hover-color: #E8E7E7;
$panel-border-color: #D8D7D7;
$panel-border-color-grey: #E7E7E7;
$panel-shadow-color: #B0B0B0;
$panel-grey-text: #6F6F6F;
$tag-off-background-color: #E4E4E4;
$tag-off-font-color: #B6B6B6;
$tag-on-background-color: $accent-color;
$tag-on-font-color: white;

$hippocamp-pink: #E62565;

@mixin user-select-off () {
	user-select: none;
}

@mixin user-select-on () {
	user-select: auto;
}

@mixin scroll-vertical () {
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
}

@mixin scroll-horizontal () {
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
}
